{% extends 'layout.html' %}

{% block content %}
<div class="main">
    <div class="body container">
        <div class="typecho-page-title">
            <h2>管理分类<a href="/admin/category">新增</a></h2>
        </div>
        <div class="row typecho-page-main manage-metas">

            <div class="col-mb-12" role="main">

                <form method="post" name="manage_categories" class="operate-form">
                    <input type="hidden" name="mType" value="category"/>
                    <div class="typecho-list-operate clearfix">
                        <div class="operate">
                            <label><i class="sr-only">全选</i><input type="checkbox" class="typecho-table-select-all" /></label>
                            <div class="btn-group btn-drop">
                                <button class="btn dropdown-toggle btn-s" type="button"><i class="sr-only">操作</i>选中项 <i class="i-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a lang="此分类下的所有内容将被删除, 你确认要删除这些分类吗?" href="/admin/categories-edit?do=delete">删除</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search" role="search">
                        </div>
                    </div>

                    <div class="typecho-table-wrap">
                        <table class="typecho-list-table">
                            <colgroup>
                                <col width="20"/>
                                <col width="30%"/>
                                <col width="15%"/>
                                <col width="25%"/>
                                <col width=""/>
                                <col width="10%"/>
                            </colgroup>
                            <thead>
                            <tr class="nodrag">
                                <th> </th>
                                <th>名称</th>
                                <th>子分类</th>
                                <th>缩略名</th>
                                <th> </th>
                                <th>文章数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if !categorys %}
                            <tr>
                                <td colspan="6">
                                    <h6 class="typecho-list-table-title">没有分类信息</h6>
                                </td>
                            </tr>
                            {% endif %}
                            {% if categorys %}
                            {% for category in categorys %}
                            <tr id="mid-category-3">
                                <td><input type="checkbox" value="{{category.id}}" name="mids"/></td>
                                <td>
                                    <a href="/admin/category?mid={{category.id}}">{{category.name}}</a>
                                    <a href="/category/java" title="浏览 {{category.name}}"><i class="i-exlink"></i></a>
                                </td>
                                <td>
                                    <a href="/admin/category.php?parent={{category.id}}">新增</a>
                                </td>
                                <td>{{category.slug}}</td>
                                <td>
                                    <a class="hidden-by-mouse" href="/index.php/action/metas-category-edit?do=default&mid={{category.id}}" title="设为默认">默认</a>
                                </td>
                                <td><a class="balloon-button left size-10" href="/admin/manage-posts.php?category={{category.id}}">3</a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsBlock %}
<script>
    (function () {
        $(document).ready(function() {
            // 处理消息机制
            (function () {
                var prefix = '716f68e4233725c4cc57cf549cb1cee0',
                        cookies = {
                            notice      :   $.cookie(prefix + '__typecho_notice'),
                            noticeType  :   $.cookie(prefix + '__typecho_notice_type'),
                            highlight   :   $.cookie(prefix + '__typecho_notice_highlight')
                        },
                        path = '/';

                if (!!cookies.notice && 'success|notice|error'.indexOf(cookies.noticeType) >= 0) {
                    var head = $('.typecho-head-nav'),
                            p = $('<div class="message popup ' + cookies.noticeType + '">'
                                    + '<ul><li>' + $.parseJSON(cookies.notice).join('</li><li>')
                                    + '</li></ul></div>'), offset = 0;

                    if (head.length > 0) {
                        p.insertAfter(head);
                        offset = head.outerHeight();
                    } else {
                        p.prependTo(document.body);
                    }

                    function checkScroll () {
                        if ($(window).scrollTop() >= offset) {
                            p.css({
                                'position'  :   'fixed',
                                'top'       :   0
                            });
                        } else {
                            p.css({
                                'position'  :   'absolute',
                                'top'       :   offset
                            });
                        }
                    }

                    $(window).scroll(function () {
                        checkScroll();
                    });

                    checkScroll();

                    p.slideDown(function () {
                        var t = $(this), color = '#C6D880';

                        if (t.hasClass('error')) {
                            color = '#FBC2C4';
                        } else if (t.hasClass('notice')) {
                            color = '#FFD324';
                        }

                        t.effect('highlight', {color : color})
                                .delay(5000).slideUp(function () {
                            $(this).remove();
                        });
                    });


                    $.cookie(prefix + '__typecho_notice', null, {path : path});
                    $.cookie(prefix + '__typecho_notice_type', null, {path : path});
                }

                if (cookies.highlight) {
                    $('#' + cookies.highlight).effect('highlight', 1000);
                    $.cookie(prefix + '__typecho_notice_highlight', null, {path : path});
                }
            })();


            // 导航菜单 tab 聚焦时展开下拉菜单
            (function () {
                $('#typecho-nav-list').find('.parent a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                    $(this).parents('.root').find('.child').show();
                });
                $('.operate').find('a').focus(function() {
                    $('#typecho-nav-list').find('.child').hide();
                });
            })();


            if ($('.typecho-login').length == 0) {
                $('a').each(function () {
                    var t = $(this), href = t.attr('href');

                    if ((href && href[0] == '#')
                            || /^http\:\/\/www\.leokong\.com\/admin\/.*$/.exec(href)
                            || /^http\:\/\/www\.leokong\.com\/index\.php\/action\/[_a-zA-Z0-9\/]+.*$/.exec(href)) {
                        return;
                    }
                });
            }
        });
    })();
</script>
<script type="text/javascript">
    (function () {
        $(document).ready(function () {
            var table = $('.typecho-list-table').tableDnD({
                onDrop : function () {
                    var ids = [];

                    $('input[type=checkbox]', table).each(function () {
                        ids.push($(this).val());
                    });

                    $.post('/index.php/action/metas-category-edit?do=sort&_=ed384d3c3d68ab531faa65769741853a',
                            $.param({mid : ids}));

                    $('tr', table).each(function (i) {
                        if (i % 2) {
                            $(this).addClass('even');
                        } else {
                            $(this).removeClass('even');
                        }
                    });
                }
            });

            table.tableSelectable({
                checkEl     :   'input[type=checkbox]',
                rowEl       :   'tr',
                selectAllEl :   '.typecho-table-select-all',
                actionEl    :   '.dropdown-menu a'
            });

            $('.btn-drop').dropdownMenu({
                btnEl       :   '.dropdown-toggle',
                menuEl      :   '.dropdown-menu'
            });

            $('.dropdown-menu button.merge').click(function () {
                var btn = $(this);
                btn.parents('form').attr('action', btn.attr('rel')).submit();
            });
        });
    })();
</script>
{% endblock %}

