{% extends 'layout.html' %}

{% block content %}
<article class="post preview" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name headline">{{slug}}</h1>
    <div class="post-content" itemprop="articleBody">
        {% if links %}
            <div class="flinks">
                <ul>
                    {% for link in links %}
                        <li><a href="{{link.url}}" title="{{link.description}}" target="_blank">{{link.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</article>
{% endblock %}