<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/stylesheets/weui.min.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $(function(){
            wx.config({
                debug: true,
                appId: '{{config.appId}}',
                timestamp: '{{ config.timestamp }}',
                nonceStr: '{{config.nonceStr}}',
                signature: '{{config.signature}}',
                jsApiList: ['chooseWXPay']
            });
            wx.ready(function(){
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                console.log("wx.ready");
            });

            wx.error(function(){
                console.log("wx.error");
            });
        });

        function pay(){
            wx.chooseWXPay({
                timestamp: '{{payInfo.timeStamp}}', // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                nonceStr: '{{payInfo.nonceStr}}', // 支付签名随机串，不长于 32 位
                package: '{{payInfo.package}}', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                signType: '{{payInfo.signType}}', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                paySign: '{{payInfo.paySign}}', // 支付签名
                success: function (res) {
                    // 支付成功后的回调函数
                    console.log(res);
                }
            });
        }
    </script>
</head>
<body>
    <h1>hello</h1>
    <button onclick="pay()">去支付</button>
</body>
</html>